# ignore __pycache__ directories
__pycache__/
# icgnore Python bytecode files
*.py[cod]
# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/ 
# ignore virtual environment directories
venv/
# ignore log files
*.log
# ignore coverage reports
coverage.xml
# ignore build directories 
build/
# ignore distribution packages
dist/
# ignore egg-info directories
*.egg-info/
# ignore cache directories
.cache/
# ignore environment variable files
.env
# ignore IDE specific files
.idea/
.vscode/
# ignore test output files
test_output/
