Brotli==1.1.0
colorama==0.4.6
configparser==7.2.0
customtkinter==5.2.2
darkdetect==0.8.0
inflate64==1.0.3
multivolumefile==0.2.3
mutagen==1.47.0
packaging==25.0
pillow==11.3.0
psutil==7.0.0
py7zr==1.0.0
pybcj==1.0.6
pycryptodomex==3.23.0
pyppmd==1.2.0
pyzstd==0.17.0
rarfile==4.2
texttable==1.7.0
tqdm==4.67.1
typing_extensions==4.14.1
watchdog==6.0.0